.profile {
	display: grid;
	grid-template-columns: 144px auto max-content;
	grid-template-rows: 127.5px;
	grid-gap: 3.75px;
	align-items: center;
	padding-top: 37px;
}

@media screen and (max-width: 979px) {
	.profile {
		grid-template-columns: auto;
		justify-content: center;
		justify-items: center;
	}
}