.popup__close {
	background-image: url(../../../images/close-icon.svg);
	background-color: #000;
	position: absolute;
	cursor: pointer;
	width: 40.7px;
	height: 40.7px;
	right: -40.7px;
	top: -40.7px;
	transition: 1s;
	border: none;
	background-position: center;
}

.popup__close:hover {
	opacity: .6;
}

@media screen and (max-width: 520px) {
	.popup__close {
		top: 10px;
		right: 10px;
		width: 32px;
		height: 32px;
		background-color: #fff;
		background-image: url(../../../images/close-popup-little.png);
	}
}